DEBUG=False
SECRET_KEY='django-insecure-f7!(th*d(nn)0pm78t270vm9$)(jgk-9^@a35#h9694k**y%u1'
ALLOWED_HOSTS= localhost, 127.0.0.1
DATABASE_URL=postgres://postgres:postgres@localhost/testdb
AWS_ACCESS_KEY_ID=AKIAQNRARD3LXOYDGWXM
AWS_SECRET_ACCESS_KEY=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
AWS_STORAGE_BUCKET_NAME=crudcomercio